/*Header*/

#Header {
  border-bottom: solid;
  height: 10vh;
  background-color: #FFFFFF;
  padding-left: 10px;
  padding-right: 10px;
}

#Header img {
  width: 6vh;
  height: 5vh;
  cursor: pointer;
}

#Header #Bulaloi-Text {
  width: 30vh;
  height: 8vh;
}

@media (min-width: 700px) {
  #Header {
    height: 20vh;
  }

  #Header img {
    width: 11vh;
    height: 12vh;
  }

  #Header #Bulaloi-Text {
    width: 30vh;
    height: 17vh;
  }
}

/*Navbar for mobile and tablets devices*/

#OffCanvas  {
  color: white;
}

.offcanvas-header, .offcanvas-body {
  background-color: #313131;
}

.offcanvas-header {
  border-bottom: solid;
  color: white;
}

.offcanvas-body {
	padding: 0;
}

li {
  list-style: none;
}

.offcanvas-body .dropdown-button  {
	padding: 0;
	margin: 0;
}

.offcanvas-body .btn {
	text-align: left;
  background-color: #333333;
  border-radius: 0 !important;
  border-right: none;
  border-left: none;   
  border-top: none;
  border-color: white;
}

.offcanvas-body .btn p {
	position: relative;
	left: 15px;
	top: 7px;
}

.offcanvas-body .dropdown-menu.show {
    width: auto;
    background-color: lightgray;
    display: block;
}

.offcanvas-body .dropdown-menu.show .btn {
  background-color: transparent;
  width: 100%;
  color: black;
  border: none;
}

.offcanvas-body .dropdown-menu.show .btn:hover {
  cursor: pointer;
  color: gray;
  background-color: transparent;
  text-decoration: underline;
  transition: color 0.3s;
}

.offcanvas-body .dropdown-menu {
  width: 406.6px;
}

/*Navbar for desktop devices*/
#NavbarForDesktop {
 background-color: #212529;
}

#NavbarForDesktop ul {
    padding-left: 90px;
    padding-right: 90px;  
    margin: 0;
}

#NavbarForDesktop li {
  padding: 0;
  margin: 0;
  width: 100%;
}

#NavbarForDesktop .btn {
  border-radius: 0;
}

#NavbarForDesktop .dropdown-menu.show {
    width: auto;
    background-color: lightgray;
    display: block;
}

#NavbarForDesktop .dropdown-menu.show .btn {
  background-color: transparent;
  width: 100%;
  color: black;
  border: none;
}

#NavbarForDesktop .dropdown-menu.show .btn:hover {
  cursor: pointer;
  color: gray;
  background-color: transparent;
  text-decoration: underline;
  transition: color 0.3s;
}

#NavbarForDesktop .dropdown-menu {
  width: 406.6px;
}

/*Searchbar*/

#Search-bar .btn, input {
   border-radius: 0 !important;
   border: solid #212529;
}

#Search-bar input[type=text]:focus {
  outline: none;
}

/*Global*/

html,body {
   width: 100%;
   height: 100%;
   margin: 0px;
   padding: 0px;
   overflow-x: hidden;
}

#Content {
   height: auto;
   background-color: #D9D9D9;
/*   overflow: auto;*/
   padding-top: 10px;
   justify-content: center;
}

#Content .Apps {
	width: 47%;
  border: solid;
  background-color: white;
  cursor: pointer;
  margin-bottom: 11px;
  border-radius: 15px;
  box-shadow: 0px 3px 2px gray;
}

.Apps-Container, #Games, #Apps  {
	height: fit-content;
}

.App-Game-Section {
	margin: 0;
  height: fit-content;
}

.App-Game-Section-h4 {
	background-color: #333333;
	height: 5vh;
	border: solid;
	margin-bottom: 7px;
}

.App-Game-Section-h4 a {
	color: gray;
	transition: color 0.3s;
	text-decoration: none;
}

.App-Game-Section-h4 a:hover {
	color: white;
	text-decoration: underline;
}

/* homepage */

#Top-Apps-and-Games h4 {
	color: gray;
}

#Content #Image-Container {
 	border-bottom: solid;
  height: 150px;
} @media (min-width: 500px) {
    #Content #Image-Container {
      height: 250px;
    }
  }
  @media (min-width: 1000px) {
    #Content #Image-Container {
      height: 400px;
    }
  }

#Content #Image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 0;
}

.fa-star {
  color: gray;
}

.checked {
  color: orange;
}

#Download-Page-Image-Container {
  padding-right: 30px;
  padding-left: 30px;
}

#Download-Page-Image {
  position: relative;
	width: 100%;
	height: 100%;
	border: solid;
  border-color: transparent;
	border-radius: 49px;
}

#Download-Page-Button {
	padding-top: 3%;
	padding-bottom: 3%;
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: #999999;
}

#App-Info-h4 {
 padding-right: 10px; 
 margin-top: 5%;
}

#App-Info-p .col-5 {
	margin-bottom: -2px; 
}

#App-Info-h4{
	background-color: #999999;
}

#App-Name,
#Category,
#Version,
#Requirement,
#File-Size {
  color: gray;
}

hr {
	margin-bottom: 0; 
}

#Description {
	margin: 0;
	padding: 0
}

#Description-h4 {
	background-color: #999999;
}

/* apps or games page */

#Games-filter h6, #Apps-filter h6 {
	color: gray;
	font-size: 4vw;
	width: 100%;
}

#Games-filter, #Apps-filter {
	background-color: #313131;
	margin-bottom: 10px
}

#Games-filter #Downloads:hover,
#Games-filter #Hot:hover,
#Games-filter #Newest:hover,
#Apps-filter #Downloads:hover,
#Apps-filter #Hot:hover,
#Apps-filter #Newest:hover {
  cursor: pointer;
  color: white;
  background-color: transparent;
  text-decoration: underline;
  transition: color 0.3s;
}

#Games-filter #Downloads::selection,
#Games-filter #Hot::selection,
#Games-filter #Newest::selection,
#Apps-filter #Downloads::selection,
#Apps-filter #Hot::selection,
#Apps-filter #Newest::selection {
  background-color: transparent;
}

/* apps or games page pagination */

.paginations li {
  display: inline;
}

.paginations ul, ul, button {
  cursor: pointer;
}

/* Search Page */

#Search-Page-h4 {
  color: gray;
}
